/* fonts panel */
@font-face {
    font-family:'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Vijaya';
    src: url('../fonts/Vijaya.eot');
    src: url('../fonts/Vijaya?#iefix') format('embedded-opentype'),
         url('../fonts/Vijaya.woff') format('woff'),
         url('../fonts/Vijaya.ttf') format('truetype'),
         url('../fonts/Vijaya.svg#Vijaya') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'HelveticaLTStd-Roman';
    src: url('../fonts/HelveticaLTStd-Roman.eot');
    src: url('../fonts/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaLTStd-Roman.woff') format('woff'),
         url('../fonts/HelveticaLTStd-Roman.ttf') format('truetype'),
         url('../fonts/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'socicon';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}
